<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
    <body>
        <div class="container mt-4">
            <div class="row">
                <form action="/books/create" method="post">
                    {% csrf_token %}
                    <div class="col  text-dark mt-4 bg-success p-3">
                        <h1>ADD BOOK</h1>
                        <label for="name" class="form-label">Title</label>
                        <input type="text" class="form-control"name="title">
                        <div class="form-floating  mt-4">
                            <label for="floatingTextarea">Description:</label>
                            <textarea class="form-control"id="floatingTextarea" name="description"></textarea>
                        </div>
                        <div><input type="submit" value="ADD" class="btn btn-primary mt-3 p-3"></div>
                    </div>
                </form>
                <div class="col text-light mt-4 bg-dark p-3">
                    <h1> BOOK TABLE</h1>
                    <table class="table table-striped table-bordered text-light">
                        <thead>
                            <tr>
                                <th>ID</th><br>
                                <th>Title</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                            <tr>
                                <td>{{book.id}}</td>
                                <td>{{book.title}}</td>
                                <td><a href="/books/{{book.id}}/view" class="btn btn-primary">view</a></td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="/authors/view" class="btn btn-primary">Go to Author page</a>
                    
                </div>
            </div>

        </div>
    </body>
</html>